
/*------------------------------------*\
	Colors
\*------------------------------------*/
:root {
	/* colors */
	--light: rgba(255, 255, 255, 0.5);
	--medium: #343a40;
	--dark: #000000;
	
	/* fonts */
	--primary-font: 'Montserrat', sans-serif;
	--secondary-font: 'Teko', sans-serif;
	--public-gothic: 'public-gothic', 'Teko', sans-serif;
}

/*------------------------------------*\
	Colors
\*------------------------------------*/
body {
	font-family: var(--primary-font);
	font-weight: 500;
	/* padding-top: 56px; for fixed-navbar*/
}


/*------------------------------------*\
	Typography
\*------------------------------------*/
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: var(--public-gothic);
	line-height: .9;
/* 	letter-spacing: .5px; */
	text-transform: uppercase;
}

.display-1,
.display-2,
.display-3,
.display-4 {
	font-weight: 700;
	line-height: .9;
}


/*------------------------------------*\
	Elements
\*------------------------------------*/
img {
  max-width: 100%;
  height: auto;
}

.badge {
  line-height: 1.5;
}


/*------------------------------------*\
	Navigation
\*------------------------------------*/
.navbar .nav-pills .nav-link {
	padding-right: 1rem;
	padding-left: 1rem;
}

.navbar .nav-pills .nav-link:hover,
.navbar .nav-pills .nav-link:focus,
.navbar .nav-pills .nav-link.active,
.navbar .nav-pills .show > .nav-link,
.navbar .nav-pills .active > .nav-link,
.navbar .nav-pills .show > .nav-link,
.navbar .nav-pills .nav-link.show {
  color: #fff;
  background-color: var(--medium);
}


/*------------------------------------*\
	Carousel
	https://bootstrapious.com/p/bootstrap-carousel
\*------------------------------------*/
/**** overlay for better readibility of the caption ****/
.carousel-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.3;
    transition: all 0.2s ease-out;
}

/**** carousel fullscreen ****/
.carousel-fullscreen .carousel-inner .carousel-item {
    height: calc(100vh - 182px); 
    min-height: 450px; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: cover;
    -webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

/**** carousel fullscreen - vertically centered caption ****/
.carousel-fullscreen .carousel-caption {
    top: 50%;  
    bottom: auto;
    -webkit-transform: translate(0, -50%); 
    -ms-transform: translate(0, -50%); 
    transform: translate(0, -50%);
}

/**** carousel fullscreen - vertically centered caption ****/
.carousel-fullscreen .carousel-caption h3 {
    font-family: var(--public-gothic);
    text-transform: uppercase;
}

.carousel-indicators li {
  width: 15px;
  height: 15px;
  border-top: 0;
  border-bottom: 0;
  border-radius: 50px;
}


/*------------------------------------*\
	Introduction Section
\*------------------------------------*/
.jumbotron-texture {
	background-color: var(--medium);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%23ffffff' fill-opacity='0.03' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}


/*------------------------------------*\
	Cards
\*------------------------------------*/
.card-link {
	top: 0;
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
	transition: all .1s ease-in;
}

.card-link > a {
  color: inherit;
  text-decoration: none;
}

.card-link:hover {
	top: -2px;
	box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.15);
}


/*--------------------------------------------------------------
# Parallax
--------------------------------------------------------------*/
.parallax { 
    /* The image used with dark overlay */
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, .8)), url(../images/desk.jpeg);

    /* Set a specific height */
    height: auto; 
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*------------------------------------*\
	Footer
\*------------------------------------*/
footer {
	background-color: var(--medium);
}

footer .nav-link {
	color: #fff;
}

footer .nav-link:hover {
	color: var(--light);
}

footer .copyright {
	color: var(--light);
}

footer i {
	color: #fff;
	padding: 0.75rem;
}

footer i:hover {
	color: var(--light);
}