// Descriptive color variables
// $white-50: rgba($white,.5);
// $white-75: rgba($white,.75);
// $black-50: rgba($black,.5);
// $black-75: rgba($black,.75);


// Functional color variables
// $color-primary-light: lighten($color-primary, 25%);
// $color-primary-dark: darken($color-primary, 25%);
// $color-primary-complement: complement($color-primary);
// $color-primary-complement-light: lighten($color-primary-complement, 10%);

// Asset Paths
$img-path: '../img';
$font-path: '../fonts';

// Fonts
$font-san-serif: Helvetica, Arial, sans-serif;
$font-stack-primary: 'Montserrat', $font-san-serif;
$font-stack-secondary: 'Teko', $font-san-serif;
$font-header: 'public-gothic';

// Media query breakpoints
$break-sm: '(min-width: 576px)';
$break-md: '(min-width: 768px)';
$break-lg: '(min-width: 992px)';
$break-xl: '(min-width: 1200px)';

// Required
@import "../node_modules/bootstrap/scss/bootstrap";
