/*------------------------------------*\
	Footer
\*------------------------------------*/
.colophon {
	.nav-link { color: $white; }

	.nav-link:hover,
	.nav-link:focus { color: $white-75; }

	.copyright { color: $white-50; }

	i {
		color: $white-50;
		padding: 0.75rem;
	}

	i:hover { color: $white-75; }
}